/* GROT frontpage styles */

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Light'), local('Lato-Light'), url(../fonts/lato-light-webfont.woff) format('woff');
}

html {
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
}

body {
    margin: 0px;
    color: #134f5c;
    background-color: #ffffff;
    text-align: center;
}

h1 {
    font-weight: 300;
    font-size: 100px;
    line-height: 90px;
    margin: 0px;
}

h2 {
    font-size: 40px;
    line-height: 30px;
    margin-bottom: 0px;
}

h3 {
    font-size: 20px;
    line-height: 15px;
    margin-bottom: 5px;
}

p {
    width: 100%;
    font-size: 16px;
}

a {
    color: #134f5c;
}

#main {
    margin-left: auto;
}

#header {
    position: fixed;
    width: 100%;
    background: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #134f5c;
}

#header_box {
    width: 405px;
    text-align: right;
    margin: auto;
}

#header_box h1 {
    background: url(../images/grot2-logo.png);
    background-size: 80px 80px;
    background-repeat: no-repeat;
}

#content {
    width: 610px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 130px;
    padding-bottom: 20px;
}

#spinner {
    margin-top: 200px;
}

#hof table {
    width: 100%;
}
#hof td {
    padding: 5px;
    width: 50%;
}
#hof td:first-child {
    text-align: right
}
#hof tr:nth-child(1) td {
    font-size: 200%;
}
#hof tr:nth-child(2) td {
    font-size: 166%;
}
#hof tr:nth-child(3) td {
    font-size: 133%;
}